<main class="py-5" style="background-image: url('public/bg-question.jpg')">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card shadow-lg">
                    <div class="card-header text-bg-warning">
                        <h4 class="text-center">Felicidades!!!</h4>
                    </div>
                    <div class="card-body">
                                <div class="d-flex justify-content-between">
                                <h2>Has confirmado tu cuenta con éxito. Volvé al inicio e iniciá sesión.</h2>
                                    <a href="/" class="btn btn-outline-primary btn-lg">Volver a inicio</a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="message">
        <section class="modal-dialog modal-dialog-centered">
            <article class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h4 class="modal-title">Registro fallido</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="" width="400px" class="mx-auto d-block display-5" alt="">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </article>
        </section>
    </div>
</main>