<main class="py-5">
    <div id="questionContainer" class="content container px-lg-5 p-4 rounded-3">
        <h2 id="nameCategory" class="text-center display-3 fw-bold"></h2>
        <p>
        <p id="questionDescription"></p>
            <button id="option1" value="1" class="btn btn-primary btn-md"></button><br>
            <button id="option2" value="2" class="btn btn-primary btn-md"></button><br>
            <button id="option3" value="3" class="btn btn-primary btn-md"></button><br>
            <button id="option4" value="4" class="btn btn-primary btn-md"></button>
        </p>
        <p>
        <p id="countCorrectAnswer" class="text-center"></p>
        </p>
    </div>
    <div>
        <h4 id="resultAnswer"></h4>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/game.js"></script>