<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-3 fw-bold">Acá se muestra la partida</h2>
        <p>
            {{question.description}}<br>
            {{question.option_1}}<br>
            {{question.option_2}}<br>
            {{question.option_3}}<br>
            {{question.option_4}}
        </p>
    </div>
</main>