<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-3 fw-bold">Inicio de Sesión Exitoso</h2>
        <p>¡Has iniciado sesión con éxito!</p>
        <div class="card-body">
            <form action="/lobby/home" method="post" enctype="multipart/form-data" class="row g-3">
            <div class="d-flex col-md-6">
                <a href="/index.php?module=lobby" class="btn btn-outline-danger btn-lg">¡A jugar!</a>
            </div>
        </div>
    </div>
</main>