<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-3 fw-bold">Partida</h2>
        <br>
        <form action="/partida/newGame" method="post">
            <button class="btn btn-outline-secondary btn-sm">¡Jugar!</button>
        </form>
    </div>
</main>