<main class="py-5" style="background-image: url('public/bg-question.jpg')">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card shadow-lg">
                    <div class="card-header text-bg-warning">
                        <h4 class="text-center">Crea tu cuenta!</h4>
                    </div>
                    <div class="card-body">
                        <form action="/register/newUser" method="post" enctype="multipart/form-data" class="row g-3">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre Completo:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="nombre_usuario" class="form-label">Usuario:</label>
                                <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Género:</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="genero" id="masculino" value="Masculino">
                                        <label class="form-check-label" for="masculino">Masculino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="genero" id="femenino" value="Femenino">
                                        <label class="form-check-label" for="femenino">Femenino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="genero" id="no-cargarlo" value="No especificar">
                                        <label class="form-check-label" for="no-cargarlo">No especificar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="FechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                                <input id="FechaNacimiento" type="date" name="fecha_nacimiento" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="pais" class="form-label">País:</label>
                                <select class="form-select" id="pais" name="pais" required>
                                    <option value="">Seleccionar país</option>
                                    <option value="1">Argentina</option>
                                    <option value="2">Francia</option>
                                    <option value="3">Paraguay</option>
                                    <option value="4">Uruguay</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ciudad" class="form-label">Ciudad:</label>
                                <select id="ciudad" class="form-select" name="ciudad" required>
                                    <option value="">Seleccionar ciudad</option>
                                    <option value="1">San Justo</option>
                                    <option value="2">Castelar</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo Electrónico:</label>
                                <input type="email" class="form-control" id="correo" name="correo" placeholder="example@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="foto_perfil" class="form-label">Foto de Perfil:</label>
                                <input type="file" class="form-control" id="foto_perfil" name="foto_perfil">
                            </div>
                            <div class="mb-3">
                                <label for="contrasenia" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="contrasenia" name="contrasenia" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmar_contrasenia" class="form-label">Repetir contraseña:</label>
                                <input type="password" class="form-control" id="confirmar_contrasenia" name="confirmar_contrasenia" required>
                            </div>
                            <div class="col-12">
                                <br>
                                <div class="d-flex justify-content-between">
                                    <a href="/" class="btn btn-outline-primary btn-lg">Volver a inicio</a>
                                    <input type="submit" value="Registrarse" class="btn btn-success btn-lg">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="message">
        <section class="modal-dialog modal-dialog-centered">
            <article class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h4 class="modal-title">Registro fallido</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="" width="400px" class="mx-auto d-block display-5" alt="">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </article>
        </section>
    </div>
</main>