<main class="py-5 bg-secondary">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <form action="/register/newUser" method="post" enctype="multipart/form-data" class="row g-3">
            <div class="col-md-6">
            
                <div class="d-flex col-md-6">
                    <a href="/login" class="btn btn-outline-danger btn-lg">Iniciar sesión</a>
                </div>
                <br>
                <div class="col-md-6">
                    <label for="nombreCompleto" class="form-label">Nombre completo:</label>
                    <input id="nombreCompleto" type="text" name="nombre" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label for="NombreUsuario" class="form-label">Nombre de usuario:</label>
                    <input id="NombreUsuario" type="text" name="nombre_usuario" class="form-control" required>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Genero:</label>
                    <br>
                    <div class="btn-group w-70">
                        <input type="radio" name="genero" id="masculino" value="Masculino" required>
                        <label class="btn btn-outline-secondary" for="masculino">Masculino</label>

                        <input type="radio" name="genero" id="femenino" value="Femenino" required>
                        <label class="btn btn-outline-secondary" for="femenino">Femenino</label>

                        <input type="radio" name="genero" id="no-cargarlo" value="No especificar"
                               required>
                        <label class="btn btn-outline-secondary" for="no-cargarlo">No especificar</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="FechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                    <input id="FechaNacimiento" type="date" name="fecha_nacimiento" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="pais" class="form-label">País:</label>
                    <select id="pais" class="form-select" name="pais" required>
                        <option value="">Seleccionar país</option>
                        <option value="1">Argentina</option>
                        <option value="2">Francia</option>
                        <option value="3">Paraguay</option>
                        <option value="4">Uruguay</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="ciudad" class="form-label">Ciudad:</label>
                    <select id="ciudad" class="form-select" name="ciudad" required>
                        <option value="">Seleccionar ciudad</option>
                        <option value="1">San Justo</option>
                        <option value="2">Castelar</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="Correo" class="form-label">Correo electrónico:</label>
                    <input id="Correo" type="email" name="correo" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Foto de perfil:</label>
                    <input type="file" name="foto_perfil" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="Contrasenia" class="form-label">Contraseña:</label>
                    <input id="Contrasenia" type="password" name="contrasenia" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label for="RepetirContraseña" class="form-label">Repetir contraseña:</label>
                    <input id="RepetirContraseña" type="password" name="confirmar_contrasenia" class="form-control" required>
                </div>

            </div>


            <div class="col-12">
                <br>
                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-outline-danger btn-lg">Volver a inicio</a>
                    <input type="submit" value="Registrarse" class="btn btn-danger btn-lg">
                </div>
            </div>
        </form>
    </div>
    <div class="modal" id="message">
        <section class="modal-dialog modal-dialog-centered">
            <article class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h4 class="modal-title">Registro fallido</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="" width="400px" class="mx-auto d-block display-5" alt="">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </article>
        </section>
    </div>
</main>